.grid {
    display: grid;
    grid-template-columns: repeat(12, 65px);
    grid-template-rows: repeat(17, 100px);
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    padding: 0 10px;
    max-width: 1020px;
    margin: 0 auto;
}

.title {
    grid-row: 2;
    grid-column: 1 / 10;
}

.body {
    grid-row: 3 / span 7;
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(12, 65px);
    grid-template-rows: repeat(8, 100px);
    grid-column-gap: 20px;
    grid-row-gap: 25px;

    .content {
        grid-row: 1 / span 8;
        grid-column: 1 / span 9;
    }

    .block {
        margin-top: -25px;
        min-height: 325px;
        grid-row-start: 3;
        grid-column: 9 / span 4;
    }
}

.quote {
    grid-row: 10 / span 3;
    grid-column: 2 / -1;
    display: grid;
    grid-template-columns: repeat(11, 65px);
    grid-template-rows: repeat(3, 100px);
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    position: relative;

    blockquote {
        position: relative;
        z-index: 1;
        grid-row-start: 2;
        grid-column: 1 / span 4;
    }

    .block {
        position: relative;
        z-index: 0;
        grid-row: 1 / span 3;
        grid-column: 3 / -1;
        min-height: 410px;
    }
}

.feature {
    margin-top: 25px;
    margin-bottom: -25px;
    grid-row: 14 / span 3;
    grid-column: 2 / span 9;
}