@import 'normalize-scss';
@include normalize();

@import "./variables";
@import "./typography";
@import "./layout";

body {
    background: $siteBg;
}

.block {
    background: $blockBg;
}

.box {
    background: $boxBg;
}